APP_NAME=Resume Studio
RESUME_API_BASE_URL=http://127.0.0.1:8787
VITE_RESUME_API_BASE_URL=http://127.0.0.1:8787
VITE_RESUME_ADMIN_API_BASE_URL=http://127.0.0.1:8787
RESUME_CONSUMER_URL=http://127.0.0.1:5173
RESUME_ADMIN_URL=http://127.0.0.1:5174
RESUME_PLATFORM_API_KEY=dev-secret
CORS_ORIGIN=http://127.0.0.1:5173,http://127.0.0.1:5174
